workbench/instance.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://forceworkbench.googlecode.com"
            xmlns="http://forceworkbench.googlecode.com">


  <xs:element name="instance" type="Instance"/>

  <xs:complexType name="Instance">
    <xs:sequence>
        <xs:element name="terms" type="Terms" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Terms">
    <xs:sequence>
      <xs:element name="required" type="xs:boolean"/>
      <xs:element name="filename" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>